<div class="card-group">
    <div class="container my-6">
        <div class="card" id="cardify">
            <div id="posts-container">
            </div>
        </div>
    </div>
</div>

<script async defer src="/app/cards.js"></script>

<style>
    #endevery {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        align-items: center;
        border-bottom: 9px black solid;
        border-radius: 7px;
    }

    #cardify {
        width: 1450px;
        border: 5px transparent solid;
        margin: auto;
        width: 55%;
        border-radius: 20px;
        background-color: rgb(241, 184, 97);
    }

    .image-size {
        max-width: auto;
        width: 300px;
        max-height: 500px;
        height: auto;
    }

    @media (max-width: 768px) {
        .image-size {
            width: 300px;
            height: 200px;
            margin-right: auto;
            background: rgb(138, 43, 226);
            counter-increment: gallery-cell;
        }

        #cardify {
            margin: auto;
            width: 80%;
        }
    }

    @media (max-width: 520px) {
        .image-size {
            width: 160px;
            height: 160px;
            margin-right: auto;
            background: rgb(138, 43, 226);
            counter-increment: gallery-cell;
        }
        #cardify {
            margin: auto;
            width: 95%;
        }        
    }

</style>

<script>
    loadProducts();
</script>