<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Meme, Memes, Memer, Memers, Republic Of Memers, latest memes, latest meme">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Republic Of Memers: Find all the latest memes in one go..." />
    <meta name="author" content="Piyush Anand" />
    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="Republic Of Memers" />
    <!-- website name -->
    <meta property="og:site" content="https://bit.ly/meme-share-web" />
    <!-- website link -->
    <meta property="og:title" content="Republic Of Memers" />
    <!-- title shown in the actual shared post -->
    <meta property="og:description" content="Republic Of Memers: Find all the latest memes in one go..." />
    <!-- description shown in the actual shared post -->
    <meta property="og:image"
        content="https://res.cloudinary.com/creatorpiyush/image/upload/v1598684844/img_n9z0yi.jpg" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" />
    <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    {{!-- favicon --}}
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">



    <title>{{docname}}</title>

    {{!-- materialize js --}}
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script async defer src="/js/popper.js"></script>
    <script async defer src="/js/materialize.js"></script>

    {{!-- ad --}}
    <script data-ad-client="ca-pub-1690321827916299" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    {{!-- materialize css --}}
    <link rel="stylesheet" href="/css/materialize.css">

    {{!-- Font --}}
    <link rel="stylesheet" href="/fonts/firacode.css">
    <link href="/fonts/MaterialIcons.css" rel="stylesheet">

    {{!-- common css --}}
    <link rel="stylesheet" href="/app/common.css">

    {{!-- common js --}}
    <script defer src="/app/common.js"></script>

</head>

<body>

    <div id="navbar"></div>

    {{!-- error dealing --}}
    {{#if err}}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <span id="errtext">{{err}}</span>
    </div>
    <style>
        .alert {
            padding: 30px;
            padding-top: ;
            background-color: #f44336;
            color: white;
        }

        .closebtn {
            margin-left: 20px;
            color: white;
            font-weight: 1000;
            float: right;
            font-size: 27px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }

        #errtext {
            font-size: 21px;
            font-weight: 800;
        }
    </style>

    <script>

    </script>
    {{/if}}
    {{!-- error dealing ends --}}


    <div id="cards"></div>
    <div id="addmeme"></div>
    <div id="footer"></div>

</body>

</html>