<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- favicon --}}
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">



    <title>{{docname}}</title>

    {{!-- materialize js --}}
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script async defer src="/js/popper.js"></script>
    <script async defer src="/js/materialize.js"></script>

    {{!-- materialize css --}}
    <link rel="stylesheet" href="/css/materialize.css">

    {{!-- Font --}}
    <link rel="stylesheet" href="/fonts/firacode.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{!-- common css --}}
    <link rel="stylesheet" href="/app/common.css">

    {{!-- common js --}}
    <script defer src="/app/common.js"></script>

</head>

<body>

    <div id="navbar"></div>

    {{#if err}}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <span id="errtext">{{err}}</span>
    </div>
    <style>
        .alert {
            padding: 30px;
            padding-top: ;
            background-color: #f44336;
            color: white;
        }

        .closebtn {
            margin-left: 20px;
            color: white;
            font-weight: 1000;
            float: right;
            font-size: 27px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }

        #errtext {
            font-size: 21px;
            font-weight: 800;
        }
    </style>

    <script>

    </script>
    {{/if}}

    <div id="cards"></div>
    <div id="addmeme"></div>
    <div id="footer"></div>

</body>

</html>